# Default ignored files
/../../../../PROGI-Programação I/Codigos/PROGII/.idea/shelf/
/../../../../PROGI-Programação I/Codigos/PROGII/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../PROGI-Programação I/Codigos/PROGII/.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../../../PROGI-Programação I/Codigos/PROGII/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../../PROGI-Programação I/Codigos/PROGII/.idea/dataSources/
/../../../../PROGI-Programação I/Codigos/PROGII/.idea/dataSources.local.xml
